[submodule "theme/solarized"]
	path = theme/solarized
	url = https://github.com/altercation/solarized
[submodule "theme/powerline-fonts"]
	path = theme/powerline-fonts
	url = https://github.com/powerline/fonts.git
