[submodule "theme/solarized"]
	path = theme/solarized
	url = https://github.com/altercation/solarized
[submodule "theme/powerline-fonts"]
	path = theme/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "shell/zsh/theme/powerlevel9k"]
	path = shell/zsh/theme/powerlevel9k
	url = https://github.com/Powerlevel9k/powerlevel9k
[submodule "shell/zsh/plugins/syntax-highlighting"]
	path = shell/zsh/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "rime-wubi"]
	path = rime-wubi
	url = git@github.com:dotcink/rime-wubi86-jidian.git
	branch = main
